<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

        <!-- Search -->
        <div ng-controller="pokedexCtrl">
            <input ng-model="filter" placeholder="Nom du pokemon"/>
            <select ng-model="SelectPokemon">
                <option ng-repeat="pokemon in pokemons | filter:filter"
                        value="{{pokemon.entry_number}}">
                    {{pokemon.pokemon_species.name}}
                </option>
            </select>


            <button ng-click="go(SelectPokemon)">Go !</button>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td>{{pokemonObj.id}}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{pokemonObj.name}}</td>
                </tr>
                <tr>
                    <th>Habitation</th>
                    <td>{{pokemonObj.habitat.name}}</td>
                    <!-- V1 de pokeapi
                    <th>Attaques</th>
                    <td>
                        <ul>
                            <li ng-repeat=" move in pokemonObj.moves">
                                {{ move.name }}
                            </li>
                        </ul>
                    </td>-->
                </tr>
                <tr>
                    <th>Generation</th>
                    <td>{{pokemonObj.generation.name}}</td>
                </tr>
            </table>
        </div>

        <!-- Pokémon information -->
        <div ng-controller="affichage">


        </div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
